# =============================
# ENVIRONMENT VARIABLES
# =============================
.env
.env.*
!.env.example   # Kecuali file contoh env

# =============================
# DEPENDENCIES
# =============================
node_modules/

# =============================
# BUILD OUTPUT
# =============================
dist/
dist-ssr/
.vercel/

# =============================
# LOG FILES
# =============================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =============================
# SANITY STUDIO
# =============================
.sanity/
.sanity/*

# Compiled Sanity Studio
/studio/dist

# =============================
# EDITOR / SYSTEM FILES
# =============================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =============================
# TESTING / COVERAGE
# =============================
coverage/
*.tsbuildinfo
